/*BLOG*/

.boton {
border: 1px solid whitesmoke; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: white; /*color botón*/
color: hotpink; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Montserrat', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
} 